[submodule "dice/data/redis-doc"]
	path = dice/data/redis-doc
	url = https://github.com/antirez/redis-doc.git
[submodule "redis-doc"]
	path = redis-doc
	url = https://github.com/antirez/redis-doc.git
