[submodule "diceroll/data/redis-doc"]
	path = diceroll/data/redis-doc
	url = https://github.com/antirez/redis-doc.git
[submodule "redis-doc"]
	path = redis-doc
	url = https://github.com/antirez/redis-doc.git
